:root { 
	--verde: #bbf2bb;
    --verdeSelect: #96f5b3;
	--morado: #c8b6ff; 
    --moradoSelect: #cfa0ff;
}

.contenido__tabla{
    width: 100%;
    color: black;
    display: flex; 
    justify-content:center;
}

.contenido__tabla td:nth-child(1),th:nth-child(1){
    width: 150px;
    border: 2px solid white;
}

.contenido__tabla td:nth-child(2),th:nth-child(2){
    width: 150px;
    border: 2px solid white;
}

.contenido__tabla td:nth-child(3),th:nth-child(3){
    width: 246px;
    border: 2px solid white;
}

.contenido__tabla td:nth-child(4),th:nth-child(4){
    width: 145px;
    border: 2px solid white;
}

.contenido__tabla td:nth-child(5),th:nth-child(5){
    width: 150px;
    border: 2px solid white;
}

.contenido__tabla td:nth-child(6),th:nth-child(6){
    width: 145px;
    border: 2px solid white;
}

.male{
    background: var(--verde);
}

.male:hover{
    background: var(--verdeSelect);
    color: #008109;
}

.female{
    background: var(--morado);
}

.female:hover{
    background: var(--moradoSelect);
    color: #6505a6;
}

td, th, tr{
    padding: 10px;
    border: white 1px solid;
}

th{
    color: white;
}
